<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
    <link rel='stylesheet' href='css/styles.css'>
    <title>Address Book</title>
</head>

<body>
    <div class='container'>
        <div class='jumbotron'>
            <h1>Address Book</h1>
            <p>Enter contact, view all your contacts, delete all your contacts</p>
    </div>

<!-- Row: 1 -->
    <div class='row'>
        <div class='col-sm-6'>
            <form action='/contact' method='post'>
                <h2>Enter your contact</h2>

                <div class='form-group'>
                    <label for='name'>Name:</label>
                    <input type='text' name='name' class="form-control" id='name'>
                </div>

                <div class='form-group'>
                    <label for='phone'>Phone:</label>
                    <input type='text' name='phone' class="form-control" id='phone'>
                </div>

                <div class='form-group'>
                    <label for='city'>City:</label>
                    <input type='text' name='city' class="form-control" id='city'>
                </div>

                <div class='form-group'>
                    <label for='street'>Street:</label>
                    <input type='text' name='street' class="form-control" id='street'>
                </div>

                <div class='form-group'>
                    <label for='state'>State:</label>
                    <input type='text' name='state' class="form-control" id='state'>
                </div>

                <div class='form-group'>
                    <label for='zip'>Zip:</label>
                    <input type='text' name='zip' class="form-control" id='zip'>
                </div>

                <button class='btn btn-success' type='submit'>Submit Address</button>
            </form>
        </div>  <!-- /col-sm-6 -->
    </div>  <!-- /ROW -->





<!-- SEAR BY PRICE =================== -->


<!-- SEAR BY Make/Model -->


<!-- RESULTS ============================================== -->

<!-- Display cars already created -->


<!-- Display cars Matching Form Price Input -->












    </div>
</body>
</html>
